*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}/*
! tailwindcss v3.4.16 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
.container {
  width: 100%;
}
@media (min-width: 320px) {

  .container {
    max-width: 320px;
  }
}
@media (min-width: 375px) {

  .container {
    max-width: 375px;
  }
}
@media (min-width: 425px) {

  .container {
    max-width: 425px;
  }
}
@media (min-width: 768px) {

  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {

  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1440px) {

  .container {
    max-width: 1440px;
  }
}
@media (min-width: 2560px) {

  .container {
    max-width: 2560px;
  }
}
.darkbtn {
  border-radius: 4px;
  background-color: rgba(31, 31, 31, 1);
  font-family: Inter, sans-serif;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
@media (min-width: 320px) {

  .darkbtn {
    height: 20px;
    width: 60px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-size: 50%;
    font-weight: 500;
  }
}
@media (min-width: 425px) {

  .darkbtn {
    height: 25px;
    width: 70px;
    font-size: 60%;
  }
}
@media (min-width: 768px) {

  .darkbtn {
    height: 35px;
    width: 100px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 100%;
    font-weight: 600;
  }
}
@media (min-width: 1024px) {

  .darkbtn {
    height: 50px;
    width: 150px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 90%;
    font-weight: 600;
  }
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.left-5 {
  left: 1.25rem;
}
.top-\[38px\] {
  top: 38px;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.ml-0 {
  margin-left: 0px;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-5 {
  margin-left: 1.25rem;
}
.ml-7 {
  margin-left: 1.75rem;
}
.ml-\[10\%\] {
  margin-left: 10%;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-5 {
  margin-right: 1.25rem;
}
.mr-\[2\%\] {
  margin-right: 2%;
}
.mt-10 {
  margin-top: 2.5rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-\[10\%\] {
  margin-top: 10%;
}
.mt-\[20\%\] {
  margin-top: 20%;
}
.mt-\[3\%\] {
  margin-top: 3%;
}
.flex {
  display: flex;
}
.h-\[0px\] {
  height: 0px;
}
.h-\[35px\] {
  height: 35px;
}
.h-auto {
  height: auto;
}
.min-h-screen {
  min-height: 100vh;
}
.w-\[100\%\] {
  width: 100%;
}
.w-\[100px\] {
  width: 100px;
}
.w-\[35px\] {
  width: 35px;
}
.w-\[559px\] {
  width: 559px;
}
.w-\[90\%\] {
  width: 90%;
}
.w-full {
  width: 100%;
}
.flex-1 {
  flex: 1 1 0%;
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}
.rounded-\[4px\] {
  border-radius: 4px;
}
.rounded-md {
  border-radius: 0.375rem;
}
.rounded-tl-\[4px\] {
  border-top-left-radius: 4px;
}
.border {
  border-width: 1px;
}
.border-\[2px\] {
  border-width: 2px;
}
.border-b-2 {
  border-bottom-width: 2px;
}
.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}
.border-graii {
  border-color: rgba(84, 84, 84, 1);
}
.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}
.border-opacity-85 {
  --tw-border-opacity: 0.85;
}
.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1));
}
.bg-graybtn {
  background-color: rgba(241, 241, 241, 1);
}
.bg-navbtn {
  background-color: rgba(31, 31, 31, 1);
}
.p-2 {
  padding: 0.5rem;
}
.p-4 {
  padding: 1rem;
}
.p-5 {
  padding: 1.25rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pb-5 {
  padding-bottom: 1.25rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pl-3 {
  padding-left: 0.75rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.text-center {
  text-align: center;
}
.font-inter {
  font-family: Inter, sans-serif;
}
.text-\[1\.25rem\] {
  font-size: 1.25rem;
}
.text-\[1\.5rem\] {
  font-size: 1.5rem;
}
.text-\[100\%\] {
  font-size: 100%;
}
.text-\[12px\] {
  font-size: 12px;
}
.text-\[16px\] {
  font-size: 16px;
}
.text-\[17px\] {
  font-size: 17px;
}
.text-\[1rem\] {
  font-size: 1rem;
}
.text-\[20px\] {
  font-size: 20px;
}
.text-\[45px\] {
  font-size: 45px;
}
.font-\[500\] {
  font-weight: 500;
}
.font-\[600\] {
  font-weight: 600;
}
.font-normal {
  font-weight: 400;
}
.leading-\[1\.5rem\] {
  line-height: 1.5rem;
}
.leading-\[1\.875rem\] {
  line-height: 1.875rem;
}
.leading-\[2\.5rem\] {
  line-height: 2.5rem;
}
.leading-\[2rem\] {
  line-height: 2rem;
}
.leading-\[40px\] {
  line-height: 40px;
}
.leading-\[84\.72px\] {
  line-height: 84.72px;
}
.text-graii {
  color: rgba(84, 84, 84, 1);
}
.text-gray3 {
  color: rgba(146, 146, 146, 1);
}
.text-secondP {
  color: rgba(70, 70, 70, 1);
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

body{
  overflow-x: hidden;
}
li {
  font-family: Inter, sans-serif;
  color: rgba(84, 84, 84, 1);
}
@media (min-width: 320px) {

  li {
    margin-right: 8%;
    height: 27px;
    width: 40px;
    font-size: 60%;
    line-height: 26.63px;
  }
}
@media (min-width: 425px) {

  li {
    margin-right: 20%;
    width: 110px;
    font-size: 70%;
  }
}
@media (min-width: 768px) {

  li {
    margin-right: 10%;
    height: 27px;
    width: 110px;
    font-size: 100%;
    line-height: 26.63px;
  }
}
@media (min-width: 1024px) {

  li {
    margin-right: 6%;
    height: 27px;
    width: 86px;
    font-size: 100%;
    line-height: 26.63px;
  }
}
@media (min-width: 1440px) {

  li {
    font-size: 120%;
  }
}
@media (min-width: 320px) {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1024px){
  .outer {
    position: relative;
  }
  
  .common {
    position: absolute;
    color: #fff;
  }
  
  .first {
    margin-left: -178px;
    width: 240px;
    height: 160px;
    border: 2px solid #000000;
    border-radius: 4px;
    z-index: 1;
  }
  
  .second {
    width: 350px;
    height: 250px;
    margin-top: 30px;
    margin-left: -150px;
    background-image: url("./imgs/Image 2.png");
    background-size: cover;
    z-index: 2;
  }
  
  .third {
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-top: 30px;
    background-color: rgb(0, 0, 0);
    left: 150px;
    top: 150px;
    z-index: 3;
  }

}
@media (min-width: 768px) {
  .outer {
    position: relative;
  }
  
  .common {
    position: absolute;
    color: #fff;
  }
  
  .first {
    margin-left: -10px;
    width: 10 0px;
    height: 130px;
    border: 2px solid #000000;
    border-radius: 4px;
    z-index: 1;
  }
  
  .second {
    width: 290px;
    height: 190px;
    margin-top: 20px;
    margin-left: -130px;
    background-image: url("./imgs/Image 2.png");
    background-size: cover;
    z-index: 2;
  }
  
  .third {
    width: 80px;
    height: 80px;
    margin-left: -5px;
    background-color: rgb(0, 0, 0);
    left: 150px;
    top: 130px;
    z-index: 3;
  }

}
@media (min-width: 425px) {
  .outer {
    position: relative;
  }
  
  .common {
    position: absolute;
    color: #fff;
  }
  
  .first {
    margin-left: -170px;
    width: 110px;
    height: 110px;
    border: 2px solid #000000;
    border-radius: 4px;
    z-index: 1;
  }
  
  .second {
    width: 290px;
    height: 190px;
    margin-top: 20px;
    margin-left: -130px;
    background-image: url("./imgs/Image 2.png");
    background-size: cover;
    z-index: 2;
  }
  
  .third {
    width: 70px;
    height: 70px;
    margin-left: -10px;
    background-color: rgb(0, 0, 0);
    left: 160px;
    top: 140px;
    z-index: 3;
  }

}
@media (min-width: 375px) {
  .outer {
    position: relative;
  }
  
  .common {
    position: absolute;
    color: #fff;
  }
  
  .first {
    margin-left: -150px;
    width: 110px;
    height: 110px;
    border: 2px solid #000000;
    border-radius: 4px;
    z-index: 1;
  }
  
  .second {
    width: 290px;
    height: 190px;
    margin-top: 20px;
    margin-left: -130px;
    background-image: url("./imgs/Image 2.png");
    background-size: cover;
    z-index: 2;
  }
  
  .third {
    width: 60px;
    height: 60px;
    margin-left: -20px;
    background-color: rgb(0, 0, 0);
    left: 135px;
    top: 150px;
    z-index: 3;
  }

}
@media (min-width: 320px) {
  .outer {
    position: relative;
  }
  
  .common {
    position: absolute;
    color: #fff;
  }
  
  .first {
    margin-left: -120px;
    width: 110px;
    height: 110px;
    border: 2px solid #000000;
    border-radius: 4px;
    z-index: 1;
  }
  
  .second {
    width: 250px;
    height: 180px;
    margin-top: 20px;
    margin-left: -100px;
    background-image: url("./imgs/Image 2.png");
    background-size: cover;
    z-index: 2;
  }
  
  .third {
    width: 60px;
    height: 60px;
    margin-left: -20px;
    background-color: rgb(0, 0, 0);
    left: 135px;
    top: 140px;
    z-index: 3;
  }
  
  .\32sm\:left-\[508px\] {
    left: 508px;
  }
  
  .\32sm\:left-\[8px\] {
    left: 8px;
  }
  
  .\32sm\:top-0 {
    top: 0px;
  }
  
  .\32sm\:top-\[16px\] {
    top: 16px;
  }
  
  .\32sm\:ml-10 {
    margin-left: 2.5rem;
  }
  
  .\32sm\:ml-3 {
    margin-left: 0.75rem;
  }
  
  .\32sm\:ml-4 {
    margin-left: 1rem;
  }
  
  .\32sm\:ml-\[-2\%\] {
    margin-left: -2%;
  }
  
  .\32sm\:ml-\[-7\%\] {
    margin-left: -7%;
  }
  
  .\32sm\:ml-\[-8\%\] {
    margin-left: -8%;
  }
  
  .\32sm\:ml-\[-9\%\] {
    margin-left: -9%;
  }
  
  .\32sm\:ml-\[0\%\] {
    margin-left: 0%;
  }
  
  .\32sm\:ml-\[0px\] {
    margin-left: 0px;
  }
  
  .\32sm\:ml-\[18\%\] {
    margin-left: 18%;
  }
  
  .\32sm\:ml-\[20\%\] {
    margin-left: 20%;
  }
  
  .\32sm\:ml-\[22\%\] {
    margin-left: 22%;
  }
  
  .\32sm\:ml-\[29\%\] {
    margin-left: 29%;
  }
  
  .\32sm\:ml-\[30\%\] {
    margin-left: 30%;
  }
  
  .\32sm\:ml-\[4\%\] {
    margin-left: 4%;
  }
  
  .\32sm\:ml-\[5\%\] {
    margin-left: 5%;
  }
  
  .\32sm\:ml-\[65\%\] {
    margin-left: 65%;
  }
  
  .\32sm\:ml-\[92\%\] {
    margin-left: 92%;
  }
  
  .\32sm\:mr-1 {
    margin-right: 0.25rem;
  }
  
  .\32sm\:mr-\[4\%\] {
    margin-right: 4%;
  }
  
  .\32sm\:mt-7 {
    margin-top: 1.75rem;
  }
  
  .\32sm\:mt-\[-1\%\] {
    margin-top: -1%;
  }
  
  .\32sm\:mt-\[-155\%\] {
    margin-top: -155%;
  }
  
  .\32sm\:mt-\[-57\%\] {
    margin-top: -57%;
  }
  
  .\32sm\:mt-\[-8\%\] {
    margin-top: -8%;
  }
  
  .\32sm\:mt-\[10\%\] {
    margin-top: 10%;
  }
  
  .\32sm\:mt-\[100\%\] {
    margin-top: 100%;
  }
  
  .\32sm\:mt-\[130\%\] {
    margin-top: 130%;
  }
  
  .\32sm\:mt-\[140\%\] {
    margin-top: 140%;
  }
  
  .\32sm\:mt-\[3\%\] {
    margin-top: 3%;
  }
  
  .\32sm\:mt-\[30\%\] {
    margin-top: 30%;
  }
  
  .\32sm\:mt-\[50\%\] {
    margin-top: 50%;
  }
  
  .\32sm\:block {
    display: block;
  }
  
  .\32sm\:flex {
    display: flex;
  }
  
  .\32sm\:h-\[160px\] {
    height: 160px;
  }
  
  .\32sm\:h-\[161px\] {
    height: 161px;
  }
  
  .\32sm\:h-\[168px\] {
    height: 168px;
  }
  
  .\32sm\:h-\[17px\] {
    height: 17px;
  }
  
  .\32sm\:h-\[180px\] {
    height: 180px;
  }
  
  .\32sm\:h-\[190px\] {
    height: 190px;
  }
  
  .\32sm\:h-\[27px\] {
    height: 27px;
  }
  
  .\32sm\:h-\[30px\] {
    height: 30px;
  }
  
  .\32sm\:h-\[40px\] {
    height: 40px;
  }
  
  .\32sm\:w-\[105px\] {
    width: 105px;
  }
  
  .\32sm\:w-\[130px\] {
    width: 130px;
  }
  
  .\32sm\:w-\[170px\] {
    width: 170px;
  }
  
  .\32sm\:w-\[200px\] {
    width: 200px;
  }
  
  .\32sm\:w-\[22\%\] {
    width: 22%;
  }
  
  .\32sm\:w-\[220px\] {
    width: 220px;
  }
  
  .\32sm\:w-\[250px\] {
    width: 250px;
  }
  
  .\32sm\:w-\[260px\] {
    width: 260px;
  }
  
  .\32sm\:w-\[270px\] {
    width: 270px;
  }
  
  .\32sm\:w-\[30px\] {
    width: 30px;
  }
  
  .\32sm\:w-\[55px\] {
    width: 55px;
  }
  
  .\32sm\:w-\[70px\] {
    width: 70px;
  }
  
  .\32sm\:max-w-\[100\%\] {
    max-width: 100%;
  }
  
  .\32sm\:p-1 {
    padding: 0.25rem;
  }
  
  .\32sm\:p-3 {
    padding: 0.75rem;
  }
  
  .\32sm\:p-5 {
    padding: 1.25rem;
  }
  
  .\32sm\:px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  
  .\32sm\:pb-7 {
    padding-bottom: 1.75rem;
  }
  
  .\32sm\:pl-2 {
    padding-left: 0.5rem;
  }
  
  .\32sm\:pl-4 {
    padding-left: 1rem;
  }
  
  .\32sm\:pt-1 {
    padding-top: 0.25rem;
  }
  
  .\32sm\:font-inter {
    font-family: Inter, sans-serif;
  }
  
  .\32sm\:text-\[0\.8rem\] {
    font-size: 0.8rem;
  }
  
  .\32sm\:text-\[13px\] {
    font-size: 13px;
  }
  
  .\32sm\:text-\[15px\] {
    font-size: 15px;
  }
  
  .\32sm\:text-\[24px\] {
    font-size: 24px;
  }
  
  .\32sm\:text-\[28px\] {
    font-size: 28px;
  }
  
  .\32sm\:text-\[30px\] {
    font-size: 30px;
  }
  
  .\32sm\:text-\[34px\] {
    font-size: 34px;
  }
  
  .\32sm\:text-\[80\%\] {
    font-size: 80%;
  }
  
  .\32sm\:text-\[90\%\] {
    font-size: 90%;
  }
  
  .\32sm\:font-\[500\] {
    font-weight: 500;
  }
  
  .\32sm\:font-bold {
    font-weight: 700;
  }
  
  .\32sm\:leading-\[0\.9rem\] {
    line-height: 0.9rem;
  }
  
  .\32sm\:leading-\[160\.96px\] {
    line-height: 160.96px;
  }
  
  .\32sm\:leading-\[32\.12px\] {
    line-height: 32.12px;
  }
  
  .\32sm\:leading-\[74\.72px\] {
    line-height: 74.72px;
  }
  
  .\32sm\:text-firstP {
    color: rgba(84, 84, 84, 1);
  }
  
  .\32sm\:text-h11 {
    color: rgba(31, 31, 31, 1);
  }

}
@media (min-width: 375px) {

  .sm\:left-\[8px\] {
    left: 8px;
  }

  .sm\:top-0 {
    top: 0px;
  }

  .sm\:ml-10 {
    margin-left: 2.5rem;
  }

  .sm\:ml-2 {
    margin-left: 0.5rem;
  }

  .sm\:ml-3 {
    margin-left: 0.75rem;
  }

  .sm\:ml-4 {
    margin-left: 1rem;
  }

  .sm\:ml-\[-1\%\] {
    margin-left: -1%;
  }

  .sm\:ml-\[-2\%\] {
    margin-left: -2%;
  }

  .sm\:ml-\[-7\%\] {
    margin-left: -7%;
  }

  .sm\:ml-\[0\%\] {
    margin-left: 0%;
  }

  .sm\:ml-\[20\%\] {
    margin-left: 20%;
  }

  .sm\:ml-\[22\%\] {
    margin-left: 22%;
  }

  .sm\:ml-\[35\%\] {
    margin-left: 35%;
  }

  .sm\:ml-\[67\%\] {
    margin-left: 67%;
  }

  .sm\:ml-\[7px\] {
    margin-left: 7px;
  }

  .sm\:ml-\[8\%\] {
    margin-left: 8%;
  }

  .sm\:ml-\[92\%\] {
    margin-left: 92%;
  }

  .sm\:mr-1 {
    margin-right: 0.25rem;
  }

  .sm\:mt-\[-125\%\] {
    margin-top: -125%;
  }

  .sm\:mt-\[-20\%\] {
    margin-top: -20%;
  }

  .sm\:mt-\[-60\%\] {
    margin-top: -60%;
  }

  .sm\:mt-\[-8\%\] {
    margin-top: -8%;
  }

  .sm\:mt-\[10\%\] {
    margin-top: 10%;
  }

  .sm\:mt-\[100\%\] {
    margin-top: 100%;
  }

  .sm\:mt-\[3\%\] {
    margin-top: 3%;
  }

  .sm\:mt-\[53\%\] {
    margin-top: 53%;
  }

  .sm\:mt-\[87\%\] {
    margin-top: 87%;
  }

  .sm\:block {
    display: block;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:h-\[160px\] {
    height: 160px;
  }

  .sm\:h-\[161px\] {
    height: 161px;
  }

  .sm\:h-\[168px\] {
    height: 168px;
  }

  .sm\:h-\[190px\] {
    height: 190px;
  }

  .sm\:h-\[220px\] {
    height: 220px;
  }

  .sm\:h-\[30px\] {
    height: 30px;
  }

  .sm\:h-\[40px\] {
    height: 40px;
  }

  .sm\:w-\[100px\] {
    width: 100px;
  }

  .sm\:w-\[105px\] {
    width: 105px;
  }

  .sm\:w-\[170px\] {
    width: 170px;
  }

  .sm\:w-\[25\%\] {
    width: 25%;
  }

  .sm\:w-\[250px\] {
    width: 250px;
  }

  .sm\:w-\[260px\] {
    width: 260px;
  }

  .sm\:w-\[300px\] {
    width: 300px;
  }

  .sm\:w-\[310px\] {
    width: 310px;
  }

  .sm\:w-\[330px\] {
    width: 330px;
  }

  .sm\:w-\[370px\] {
    width: 370px;
  }

  .sm\:w-\[40px\] {
    width: 40px;
  }

  .sm\:w-\[85\%\] {
    width: 85%;
  }

  .sm\:max-w-\[100\%\] {
    max-width: 100%;
  }

  .sm\:p-1 {
    padding: 0.25rem;
  }

  .sm\:p-5 {
    padding: 1.25rem;
  }

  .sm\:px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .sm\:pb-7 {
    padding-bottom: 1.75rem;
  }

  .sm\:pl-3 {
    padding-left: 0.75rem;
  }

  .sm\:pl-4 {
    padding-left: 1rem;
  }

  .sm\:pt-2 {
    padding-top: 0.5rem;
  }

  .sm\:pt-3 {
    padding-top: 0.75rem;
  }

  .sm\:font-inter {
    font-family: Inter, sans-serif;
  }

  .sm\:text-\[1\.125rem\] {
    font-size: 1.125rem;
  }

  .sm\:text-\[1\.5625rem\] {
    font-size: 1.5625rem;
  }

  .sm\:text-\[100\%\] {
    font-size: 100%;
  }

  .sm\:text-\[14px\] {
    font-size: 14px;
  }

  .sm\:text-\[15px\] {
    font-size: 15px;
  }

  .sm\:text-\[17px\] {
    font-size: 17px;
  }

  .sm\:text-\[18px\] {
    font-size: 18px;
  }

  .sm\:text-\[1rem\] {
    font-size: 1rem;
  }

  .sm\:text-\[25px\] {
    font-size: 25px;
  }

  .sm\:text-\[2rem\] {
    font-size: 2rem;
  }

  .sm\:text-\[30px\] {
    font-size: 30px;
  }

  .sm\:text-\[35px\] {
    font-size: 35px;
  }

  .sm\:text-\[80\%\] {
    font-size: 80%;
  }

  .sm\:font-\[500\] {
    font-weight: 500;
  }

  .sm\:leading-\[1\.1rem\] {
    line-height: 1.1rem;
  }

  .sm\:leading-\[1\.75rem\] {
    line-height: 1.75rem;
  }

  .sm\:leading-\[160\.96px\] {
    line-height: 160.96px;
  }

  .sm\:leading-\[2\.5rem\] {
    line-height: 2.5rem;
  }

  .sm\:leading-\[2rem\] {
    line-height: 2rem;
  }

  .sm\:leading-\[3\.125rem\] {
    line-height: 3.125rem;
  }

  .sm\:leading-\[30px\] {
    line-height: 30px;
  }

  .sm\:leading-\[32\.12px\] {
    line-height: 32.12px;
  }

  .sm\:leading-\[3rem\] {
    line-height: 3rem;
  }

  .sm\:leading-\[50px\] {
    line-height: 50px;
  }

  .sm\:leading-\[84\.72px\] {
    line-height: 84.72px;
  }

  .sm\:text-firstP {
    color: rgba(84, 84, 84, 1);
  }

  .sm\:text-h11 {
    color: rgba(31, 31, 31, 1);
  }
}
@media (min-width: 425px) {

  .md\:left-\[8px\] {
    left: 8px;
  }

  .md\:top-0 {
    top: 0px;
  }

  .md\:top-\[16px\] {
    top: 16px;
  }

  .md\:mb-16 {
    margin-bottom: 4rem;
  }

  .md\:mb-5 {
    margin-bottom: 1.25rem;
  }

  .md\:ml-4 {
    margin-left: 1rem;
  }

  .md\:ml-\[-2\%\] {
    margin-left: -2%;
  }

  .md\:ml-\[-50\%\] {
    margin-left: -50%;
  }

  .md\:ml-\[0\%\] {
    margin-left: 0%;
  }

  .md\:ml-\[1\%\] {
    margin-left: 1%;
  }

  .md\:ml-\[10\%\] {
    margin-left: 10%;
  }

  .md\:ml-\[20\%\] {
    margin-left: 20%;
  }

  .md\:ml-\[33\%\] {
    margin-left: 33%;
  }

  .md\:ml-\[35\%\] {
    margin-left: 35%;
  }

  .md\:ml-\[5\%\] {
    margin-left: 5%;
  }

  .md\:ml-\[63\%\] {
    margin-left: 63%;
  }

  .md\:ml-\[7\.5\%\] {
    margin-left: 7.5%;
  }

  .md\:ml-\[7px\] {
    margin-left: 7px;
  }

  .md\:mr-1 {
    margin-right: 0.25rem;
  }

  .md\:mr-\[5\%\] {
    margin-right: 5%;
  }

  .md\:mt-\[-120\%\] {
    margin-top: -120%;
  }

  .md\:mt-\[-58\%\] {
    margin-top: -58%;
  }

  .md\:mt-\[-8\%\] {
    margin-top: -8%;
  }

  .md\:mt-\[0\%\] {
    margin-top: 0%;
  }

  .md\:mt-\[1\%\] {
    margin-top: 1%;
  }

  .md\:mt-\[10\%\] {
    margin-top: 10%;
  }

  .md\:mt-\[100\%\] {
    margin-top: 100%;
  }

  .md\:mt-\[15\%\] {
    margin-top: 15%;
  }

  .md\:mt-\[3\%\] {
    margin-top: 3%;
  }

  .md\:mt-\[50\%\] {
    margin-top: 50%;
  }

  .md\:mt-\[75\%\] {
    margin-top: 75%;
  }

  .md\:mt-\[90\%\] {
    margin-top: 90%;
  }

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:h-\[160px\] {
    height: 160px;
  }

  .md\:h-\[161px\] {
    height: 161px;
  }

  .md\:h-\[168px\] {
    height: 168px;
  }

  .md\:h-\[190px\] {
    height: 190px;
  }

  .md\:h-\[220px\] {
    height: 220px;
  }

  .md\:h-\[23px\] {
    height: 23px;
  }

  .md\:h-\[27px\] {
    height: 27px;
  }

  .md\:h-\[30px\] {
    height: 30px;
  }

  .md\:h-\[40px\] {
    height: 40px;
  }

  .md\:h-\[45px\] {
    height: 45px;
  }

  .md\:w-\[100px\] {
    width: 100px;
  }

  .md\:w-\[105px\] {
    width: 105px;
  }

  .md\:w-\[170px\] {
    width: 170px;
  }

  .md\:w-\[20\%\] {
    width: 20%;
  }

  .md\:w-\[250px\] {
    width: 250px;
  }

  .md\:w-\[260px\] {
    width: 260px;
  }

  .md\:w-\[30\%\] {
    width: 30%;
  }

  .md\:w-\[350px\] {
    width: 350px;
  }

  .md\:w-\[360px\] {
    width: 360px;
  }

  .md\:w-\[370px\] {
    width: 370px;
  }

  .md\:w-\[400px\] {
    width: 400px;
  }

  .md\:w-\[40px\] {
    width: 40px;
  }

  .md\:w-\[80\%\] {
    width: 80%;
  }

  .md\:w-\[80px\] {
    width: 80px;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:max-w-\[100\%\] {
    max-width: 100%;
  }

  .md\:p-3 {
    padding: 0.75rem;
  }

  .md\:pl-3 {
    padding-left: 0.75rem;
  }

  .md\:pl-5 {
    padding-left: 1.25rem;
  }

  .md\:pr-3 {
    padding-right: 0.75rem;
  }

  .md\:pt-2 {
    padding-top: 0.5rem;
  }

  .md\:pt-4 {
    padding-top: 1rem;
  }

  .md\:font-inter {
    font-family: Inter, sans-serif;
  }

  .md\:text-\[1\.25rem\] {
    font-size: 1.25rem;
  }

  .md\:text-\[1\.3rem\] {
    font-size: 1.3rem;
  }

  .md\:text-\[1\.875rem\] {
    font-size: 1.875rem;
  }

  .md\:text-\[100\%\] {
    font-size: 100%;
  }

  .md\:text-\[15px\] {
    font-size: 15px;
  }

  .md\:text-\[17px\] {
    font-size: 17px;
  }

  .md\:text-\[2\.5rem\] {
    font-size: 2.5rem;
  }

  .md\:text-\[30px\] {
    font-size: 30px;
  }

  .md\:text-\[35px\] {
    font-size: 35px;
  }

  .md\:text-\[80\%\] {
    font-size: 80%;
  }

  .md\:text-\[90\%\] {
    font-size: 90%;
  }

  .md\:font-\[500\] {
    font-weight: 500;
  }

  .md\:font-bold {
    font-weight: 700;
  }

  .md\:leading-\[1\.2rem\] {
    line-height: 1.2rem;
  }

  .md\:leading-\[160\.96px\] {
    line-height: 160.96px;
  }

  .md\:leading-\[2\.2694rem\] {
    line-height: 2.2694rem;
  }

  .md\:leading-\[2rem\] {
    line-height: 2rem;
  }

  .md\:leading-\[3\.5rem\] {
    line-height: 3.5rem;
  }

  .md\:leading-\[3\.75rem\] {
    line-height: 3.75rem;
  }

  .md\:leading-\[32\.12px\] {
    line-height: 32.12px;
  }

  .md\:leading-\[32\.85px\] {
    line-height: 32.85px;
  }

  .md\:leading-\[3rem\] {
    line-height: 3rem;
  }

  .md\:leading-\[60px\] {
    line-height: 60px;
  }

  .md\:leading-\[84\.72px\] {
    line-height: 84.72px;
  }

  .md\:text-firstP {
    color: rgba(84, 84, 84, 1);
  }

  .md\:text-h11 {
    color: rgba(31, 31, 31, 1);
  }
}
@media (min-width: 768px) {

  .lg\:left-\[8px\] {
    left: 8px;
  }

  .lg\:top-0 {
    top: 0px;
  }

  .lg\:top-\[16px\] {
    top: 16px;
  }

  .lg\:mb-16 {
    margin-bottom: 4rem;
  }

  .lg\:mb-5 {
    margin-bottom: 1.25rem;
  }

  .lg\:ml-16 {
    margin-left: 4rem;
  }

  .lg\:ml-\[1\%\] {
    margin-left: 1%;
  }

  .lg\:ml-\[1\.5\%\] {
    margin-left: 1.5%;
  }

  .lg\:ml-\[10\%\] {
    margin-left: 10%;
  }

  .lg\:ml-\[14\%\] {
    margin-left: 14%;
  }

  .lg\:ml-\[14\.5\%\] {
    margin-left: 14.5%;
  }

  .lg\:ml-\[19\%\] {
    margin-left: 19%;
  }

  .lg\:ml-\[30\%\] {
    margin-left: 30%;
  }

  .lg\:ml-\[5\%\] {
    margin-left: 5%;
  }

  .lg\:ml-\[55\%\] {
    margin-left: 55%;
  }

  .lg\:ml-\[5px\] {
    margin-left: 5px;
  }

  .lg\:mt-10 {
    margin-top: 2.5rem;
  }

  .lg\:mt-\[-43\%\] {
    margin-top: -43%;
  }

  .lg\:mt-\[-8\%\] {
    margin-top: -8%;
  }

  .lg\:mt-\[1\%\] {
    margin-top: 1%;
  }

  .lg\:mt-\[10\%\] {
    margin-top: 10%;
  }

  .lg\:mt-\[15\%\] {
    margin-top: 15%;
  }

  .lg\:mt-\[2\%\] {
    margin-top: 2%;
  }

  .lg\:mt-\[3\%\] {
    margin-top: 3%;
  }

  .lg\:mt-\[40\%\] {
    margin-top: 40%;
  }

  .lg\:mt-\[5\%\] {
    margin-top: 5%;
  }

  .lg\:mt-\[50\%\] {
    margin-top: 50%;
  }

  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:h-\[161px\] {
    height: 161px;
  }

  .lg\:h-\[168px\] {
    height: 168px;
  }

  .lg\:h-\[190px\] {
    height: 190px;
  }

  .lg\:h-\[200px\] {
    height: 200px;
  }

  .lg\:h-\[27px\] {
    height: 27px;
  }

  .lg\:h-\[320px\] {
    height: 320px;
  }

  .lg\:h-\[48px\] {
    height: 48px;
  }

  .lg\:h-\[50px\] {
    height: 50px;
  }

  .lg\:w-\[167px\] {
    width: 167px;
  }

  .lg\:w-\[190px\] {
    width: 190px;
  }

  .lg\:w-\[200\%\] {
    width: 200%;
  }

  .lg\:w-\[30\%\] {
    width: 30%;
  }

  .lg\:w-\[35\%\] {
    width: 35%;
  }

  .lg\:w-\[350px\] {
    width: 350px;
  }

  .lg\:w-\[400px\] {
    width: 400px;
  }

  .lg\:w-\[430px\] {
    width: 430px;
  }

  .lg\:w-\[500px\] {
    width: 500px;
  }

  .lg\:w-\[550px\] {
    width: 550px;
  }

  .lg\:w-\[600px\] {
    width: 600px;
  }

  .lg\:max-w-\[100\%\] {
    max-width: 100%;
  }

  .lg\:p-0 {
    padding: 0px;
  }

  .lg\:p-3 {
    padding: 0.75rem;
  }

  .lg\:pr-3 {
    padding-right: 0.75rem;
  }

  .lg\:font-inter {
    font-family: Inter, sans-serif;
  }

  .lg\:text-\[1\.5rem\] {
    font-size: 1.5rem;
  }

  .lg\:text-\[1\.9rem\] {
    font-size: 1.9rem;
  }

  .lg\:text-\[100\%\] {
    font-size: 100%;
  }

  .lg\:text-\[14px\] {
    font-size: 14px;
  }

  .lg\:text-\[18px\] {
    font-size: 18px;
  }

  .lg\:text-\[2rem\] {
    font-size: 2rem;
  }

  .lg\:text-\[38px\] {
    font-size: 38px;
  }

  .lg\:text-\[3rem\] {
    font-size: 3rem;
  }

  .lg\:text-\[55px\] {
    font-size: 55px;
  }

  .lg\:font-\[500\] {
    font-weight: 500;
  }

  .lg\:font-bold {
    font-weight: 700;
  }

  .lg\:leading-\[160\.96px\] {
    line-height: 160.96px;
  }

  .lg\:leading-\[2\.25rem\] {
    line-height: 2.25rem;
  }

  .lg\:leading-\[2\.2rem\] {
    line-height: 2.2rem;
  }

  .lg\:leading-\[3\.5rem\] {
    line-height: 3.5rem;
  }

  .lg\:leading-\[32\.12px\] {
    line-height: 32.12px;
  }

  .lg\:leading-\[84\.72px\] {
    line-height: 84.72px;
  }

  .lg\:text-firstP {
    color: rgba(84, 84, 84, 1);
  }

  .lg\:text-h11 {
    color: rgba(31, 31, 31, 1);
  }
}
@media (min-width: 1024px) {

  .xl\:left-\[107px\] {
    left: 107px;
  }

  .xl\:left-\[508px\] {
    left: 508px;
  }

  .xl\:left-\[8px\] {
    left: 8px;
  }

  .xl\:top-\[16px\] {
    top: 16px;
  }

  .xl\:top-\[203px\] {
    top: 203px;
  }

  .xl\:m-\[4\%\] {
    margin: 4%;
  }

  .xl\:mb-16 {
    margin-bottom: 4rem;
  }

  .xl\:ml-0 {
    margin-left: 0px;
  }

  .xl\:ml-2 {
    margin-left: 0.5rem;
  }

  .xl\:ml-20 {
    margin-left: 5rem;
  }

  .xl\:ml-5 {
    margin-left: 1.25rem;
  }

  .xl\:ml-6 {
    margin-left: 1.5rem;
  }

  .xl\:ml-\[-40\%\] {
    margin-left: -40%;
  }

  .xl\:ml-\[-5\%\] {
    margin-left: -5%;
  }

  .xl\:ml-\[1\.5\%\] {
    margin-left: 1.5%;
  }

  .xl\:ml-\[12\%\] {
    margin-left: 12%;
  }

  .xl\:ml-\[140px\] {
    margin-left: 140px;
  }

  .xl\:ml-\[30\%\] {
    margin-left: 30%;
  }

  .xl\:ml-\[45\%\] {
    margin-left: 45%;
  }

  .xl\:ml-\[5\%\] {
    margin-left: 5%;
  }

  .xl\:ml-\[8\%\] {
    margin-left: 8%;
  }

  .xl\:mr-5 {
    margin-right: 1.25rem;
  }

  .xl\:mr-\[10px\] {
    margin-right: 10px;
  }

  .xl\:mr-\[5\%\] {
    margin-right: 5%;
  }

  .xl\:mt-0 {
    margin-top: 0px;
  }

  .xl\:mt-10 {
    margin-top: 2.5rem;
  }

  .xl\:mt-\[-130\%\] {
    margin-top: -130%;
  }

  .xl\:mt-\[-330px\] {
    margin-top: -330px;
  }

  .xl\:mt-\[0\%\] {
    margin-top: 0%;
  }

  .xl\:mt-\[1\.3\%\] {
    margin-top: 1.3%;
  }

  .xl\:mt-\[10\%\] {
    margin-top: 10%;
  }

  .xl\:mt-\[13\%\] {
    margin-top: 13%;
  }

  .xl\:mt-\[18\%\] {
    margin-top: 18%;
  }

  .xl\:mt-\[2\%\] {
    margin-top: 2%;
  }

  .xl\:mt-\[20\%\] {
    margin-top: 20%;
  }

  .xl\:mt-\[3\%\] {
    margin-top: 3%;
  }

  .xl\:mt-\[310px\] {
    margin-top: 310px;
  }

  .xl\:mt-\[55\%\] {
    margin-top: 55%;
  }

  .xl\:block {
    display: block;
  }

  .xl\:flex {
    display: flex;
  }

  .xl\:h-\[161px\] {
    height: 161px;
  }

  .xl\:h-\[168px\] {
    height: 168px;
  }

  .xl\:h-\[200px\] {
    height: 200px;
  }

  .xl\:h-\[27px\] {
    height: 27px;
  }

  .xl\:h-\[320px\] {
    height: 320px;
  }

  .xl\:h-\[330px\] {
    height: 330px;
  }

  .xl\:h-\[36px\] {
    height: 36px;
  }

  .xl\:h-\[48px\] {
    height: 48px;
  }

  .xl\:w-\[177px\] {
    width: 177px;
  }

  .xl\:w-\[200px\] {
    width: 200px;
  }

  .xl\:w-\[210\%\] {
    width: 210%;
  }

  .xl\:w-\[227px\] {
    width: 227px;
  }

  .xl\:w-\[30\%\] {
    width: 30%;
  }

  .xl\:w-\[40\%\] {
    width: 40%;
  }

  .xl\:w-\[400px\] {
    width: 400px;
  }

  .xl\:w-\[430px\] {
    width: 430px;
  }

  .xl\:w-\[45\%\] {
    width: 45%;
  }

  .xl\:w-\[50\%\] {
    width: 50%;
  }

  .xl\:w-\[500px\] {
    width: 500px;
  }

  .xl\:w-\[600px\] {
    width: 600px;
  }

  .xl\:w-\[80\%\] {
    width: 80%;
  }

  .xl\:w-auto {
    width: auto;
  }

  .xl\:min-w-\[100\%\] {
    min-width: 100%;
  }

  .xl\:min-w-\[120\%\] {
    min-width: 120%;
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:p-3 {
    padding: 0.75rem;
  }

  .xl\:p-5 {
    padding: 1.25rem;
  }

  .xl\:pr-0 {
    padding-right: 0px;
  }

  .xl\:font-inter {
    font-family: Inter, sans-serif;
  }

  .xl\:text-\[1\.75rem\] {
    font-size: 1.75rem;
  }

  .xl\:text-\[100\%\] {
    font-size: 100%;
  }

  .xl\:text-\[17px\] {
    font-size: 17px;
  }

  .xl\:text-\[2\.5rem\] {
    font-size: 2.5rem;
  }

  .xl\:text-\[20px\] {
    font-size: 20px;
  }

  .xl\:text-\[3\.5rem\] {
    font-size: 3.5rem;
  }

  .xl\:text-\[38px\] {
    font-size: 38px;
  }

  .xl\:text-\[85px\] {
    font-size: 85px;
  }

  .xl\:font-\[500\] {
    font-weight: 500;
  }

  .xl\:font-bold {
    font-weight: 700;
  }

  .xl\:leading-\[160\.96px\] {
    line-height: 160.96px;
  }

  .xl\:leading-\[2\.5rem\] {
    line-height: 2.5rem;
  }

  .xl\:leading-\[32\.12px\] {
    line-height: 32.12px;
  }

  .xl\:leading-\[4\.3875rem\] {
    line-height: 4.3875rem;
  }

  .xl\:leading-\[4\.5rem\] {
    line-height: 4.5rem;
  }

  .xl\:leading-\[50\.19px\] {
    line-height: 50.19px;
  }

  .xl\:text-firstP {
    color: rgba(84, 84, 84, 1);
  }

  .xl\:text-h11 {
    color: rgba(31, 31, 31, 1);
  }
}
@media (min-width: 1440px) {

  .\32xl\:left-\[508px\] {
    left: 508px;
  }

  .\32xl\:top-\[16px\] {
    top: 16px;
  }

  .\32xl\:ml-\[15\%\] {
    margin-left: 15%;
  }

  .\32xl\:ml-\[5\%\] {
    margin-left: 5%;
  }

  .\32xl\:mt-10 {
    margin-top: 2.5rem;
  }

  .\32xl\:mt-\[1\.3\%\] {
    margin-top: 1.3%;
  }

  .\32xl\:flex {
    display: flex;
  }

  .\32xl\:h-\[27px\] {
    height: 27px;
  }

  .\32xl\:h-\[48px\] {
    height: 48px;
  }

  .\32xl\:w-\[200px\] {
    width: 200px;
  }

  .\32xl\:w-\[50\%\] {
    width: 50%;
  }

  .\32xl\:font-bold {
    font-weight: 700;
  }
}
